.hero {
    background-color: #EFF8FF;
    height: 100vh;
    position: relative;
}

.hero .hero_img {
    width: 100vw;
    padding-top: 100px;
    height: 100vh;
    object-fit: cover !important;

}

.title_container {
    position: absolute;
    top: 20%;
    left: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
    width: 65%;

}

.title_container h1 {
    font-size: 60px;
    font-weight: 700;
    max-width: 550px;
}

.title_container p {
    max-width: 423px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #22222280;


}

.hero_card_container {
    background-color: rgb(255, 255, 255, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    border-radius: 16px;
    width: 866px;
    height: 100px;
}


@media screen and (max-width:1000px) {
    .hero_card_container {
        flex-direction: column;
        width: max-content;
        height: max-content;
        padding: 20px;
        gap: 27px;
    }

    .title_container {
        gap: 30px;
    }

}

@media screen and (max-width:800px) {
    .title_container {
        left: 0px;
        width: 100%;
        align-items: center;
        gap: 20px;

    }

    .title_container h1 {
        font-size: 35px;
        width: 100% !important;
        text-align: center;
        padding: 0px 20px;
        max-width: 100% !important;
    }

    .title_container p {
        font-size: 14px;
        width: 100% !important;
        max-width: 100% !important;
        text-align: center;
        padding: 0px 20px;
    }

    .title_desc_container p {
        padding: 0px;
        font-size: 15px;
    }

    .hero_card_container {
        width: 100%;
        border-radius: 0px;
        height: 268px;
        align-items: center;
        padding-left: 20px;
    }

    .hero_img {
        padding-top: 36vh !important;
    }
}

@media screen and (max-width:695px) {
    .hero_img {
        padding-top: 40vh !important;
    }
}

@media screen and (max-width:610px) {
    .hero_img {
        padding-top: 46.1vh !important;
    }
}

@media screen and (max-width:500px) {

    .title_container,
    .hero_card_container {
        align-items: start;
    }

    .title_container h1,
    .title_container p {
        text-align: start;
    }

    /* .hero_img {
    padding-top: 46.1vh !important;
}  */
}